/** 01. FONTS */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
  font-family: "Poppins";
}

.section-header h2 {
  font-size: 36px;
  letter-spacing: 1px;
  margin: 0;
  font-family: "Poppins";
  color: #012970;

}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 42px;
  font-weight: 500;
  font-family: "Poppins";
  color: #012970;

}

@media (max-width: 768px) {
  .section-header p {
    font-size: 16px;
    line-height: 32px;
  }
}


/* Navbar*/

  .navbar {
    background-color: #ffffff;

  }

  .navbar .navbar-brand {
    font-size: 30px;
    color: #073c98;
    font-weight: bold;
    font-family: "Poppins";
    background-color: transparent;
  }

  
  .navbar .navbar-brand:hover {
    font-size: 30px;
    color: #1965e7;
    ;
  }


  .navbar-toggler {
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
  }


  .navbar-nav .nav-link {
    color: #073c98;
    font-weight: bold;
    font-size: 18px;
    font-family: Poppins;
  }

  .navbar-nav .nav-link:hover {
    color: #1965e7;

  }

  .navbar-nav .nav-link.active {
    color: #0d64fa;


  }

  .navbar-nav .nav-link.login-btn {
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    padding: 6px 12px;
    font-family: Poppins;
    font-weight: bold;
    margin-left: 20px;
  }

  .navbar-nav .nav-link.login-btn:hover {
    background-color: #555;
  }


  /*Hero*/

  .hero-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .hero-content {
    color: #fff;
    padding: 20px;
    margin: 0 auto;
    font-family: Poppins;

  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 30px;
    font-family: "Poppins";
    color: #073c98;

  }
  
  .hero-content p {
    font-size: 24px;
    margin-bottom: 40px;
    color: #333;
    font-family: Poppins;

  }

  .hero-content .custom-primary-btn {
    padding: 15px;  
    color: #fff;
    border: none;
    font-family: Poppins;

  }

  @media (max-width: 767px) {
    .hero-content h1 {
      font-size: 36px;
    }
    
    .hero-content p {
      font-size: 18px;
    }
  }



 /* ABOUT */


 .about-section {
  padding: 80px 0;
  font-family: Poppins;

}

.about-section .container {
  max-width: 900px;
}

.about-section .row {
  align-items: center;
}

.about-section .col {
  margin-bottom: 30px;
}



.about-section .col h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #073c98;

}

.about-section .col p {
  font-size: 16px;
  line-height: 1.5;

}

.about-section .col img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.about-section .custom-primary-btn {
  padding: 15px;  
  color: #fff;
  border: none;
  font-family: Poppins;

}

/* Media Queries */
@media (max-width: 767px) {
  .about-section .row {
    flex-direction: column;
  }

  .about-section .col {
    margin-bottom: 0;
  }

  .about-section .col img {
    max-width: 100%;
  }

  .about-section .col h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .about-section .col p {
    font-size: 14px;
  }

  .about-section .custom-primary-btn{
  padding: 10px;
  margin-bottom: 25px; 
}
}




    /*# Services
--------------------------------------------------------------*/
.services .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
}

.services .service-box .icon {
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.services .service-box h3 {
  color: #444444;
  font-weight: 700;
}

.services .service-box .read-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}

.services .service-box .read-more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}

.services .service-box.blue {
  border-bottom: 3px solid #2db6fa;
}

.services .service-box.blue .icon {
  color: #2db6fa;
  background: #dbf3fe;
}

.services .service-box.blue .read-more {
  color: #2db6fa;
}

.services .service-box.blue:hover {
  background: #2db6fa;
}

.services .service-box.orange {
  border-bottom: 3px solid #f68c09;
}

.services .service-box.orange .icon {
  color: #f68c09;
  background: #fde3c4;
}

.services .service-box.orange .read-more {
  color: #f68c09;
}

.services .service-box.orange:hover {
  background: #f68c09;
}

.services .service-box.green {
  border-bottom: 3px solid #08da4e;
}

.services .service-box.green .icon {
  color: #08da4e;
  background: #cffddf;
}

.services .service-box.green .read-more {
  color: #08da4e;
}

.services .service-box.green:hover {
  background: #08da4e;
}

.services .service-box.red {
  border-bottom: 3px solid #e9222c;
}

.services .service-box.red .icon {
  color: #e9222c;
  background: #fef7f8;
}

.services .service-box.red .read-more {
  color: #e9222c;
}

.services .service-box.red:hover {
  background: #e9222c;
}

.services .service-box.purple {
  border-bottom: 3px solid #b50edf;
}

.services .service-box.purple .icon {
  color: #b50edf;
  background: #f8e4fd;
}

.services .service-box.purple .read-more {
  color: #b50edf;
}

.services .service-box.purple:hover {
  background: #b50edf;
}

.services .service-box.pink {
  border-bottom: 3px solid #f51f9c;
}

.services .service-box.pink .icon {
  color: #f51f9c;
  background: #feecf7;
}

.services .service-box.pink .read-more {
  color: #f51f9c;
}

.services .service-box.pink:hover {
  background: #f51f9c;
}

.services .service-box:hover h3,
.services .service-box:hover p,
.services .service-box:hover .read-more {
  color: #fff;
}

.services .service-box:hover .icon {
  background: #fff;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  font-family: "Poppins";
}

.info-box {
  color: #444444;
  background: #fafbff;
  padding: 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
  font-family: "Poppins";
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  font-family: "Poppins";

}

.contact .php-email-form {
  background: #fafbff;
  padding: 30px;
  height: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
  font-family: "Poppins";
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
  font-family: "Poppins";

}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
  font-family: "Poppins";
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #4154f1;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #4355f4;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}





/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  text-decoration: none;
}

.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
  font-family: "Poppins";
  text-decoration: none;
}

.footer .footer-newsletter {
  padding: 50px 0;
  background: #f6f9ff;
  border-top: 1px solid #e1ecff;
}

.footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  color: #012970;
  font-family: "Poppins";

}

.footer .footer-newsletter form {
  margin-top: 20px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e1ecff;
  font-family: "Poppins";

}

.footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
  font-family: "Poppins";

}

.footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #2338f3;
  color: #fff;
  transition: 0.3s;
  border-radius: 4px;
  font-family: "Poppins";

}

.footer .footer-newsletter form input[type=submit]:hover {
  background: #5969f3;
}

.footer .footer-top {
  background: white url(images/landing/footer-bg.png) no-repeat right top;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
  text-decoration: none;

}

.footer .footer-top .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Poppins";
  margin-top: 3px;
  padding-bottom: 10px;
}

.footer .footer-top .footer-info .logo span:hover {
  color: #1965e7;

}

.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins";
}

.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
  font-family: "Poppins";
}

.footer .footer-top .social-links a:hover {
  color: #012970;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #012970;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  font-family: "Poppins";
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;

}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: #013289;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;

}

.footer .footer-top .footer-links ul a:hover {
  color: #4154f1;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #012970;
}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}